header {
	display: block;
    font-size: .8em;
    top: 0;
    left: 0;
    width: 100%;
    color:#fff;
    z-index: 90;
    min-height:5em;
    background-color: $background-color;
    //box-shadow: 0px 20px 30px $background-color;
    -webkit-transition: height, line-height 0.9s;
    -moz-transition: height, line-height 0.9s;
    transition: height, line-height 0.9s;
    line-height: 4.7em;
}

#fileviewer header{
    position: fixed;
}

.shrink {
    height: 4em;
    line-height:2.5em;
}

nav{
	overflow: auto;
	display:block;
}


.spacer-hack{
    display: block; 
    height: 8em;
}

.display-content{
    margin-bottom: 4em;
}

