.block{
	@extend .grid;
	@extend .fourth;
    border-radius: .2em;
    img{
    	border-radius: .2em;
    	width: 100%;
    }
    a{
    	display: inline-block;
    }
}

.label{
	font-size: .6em;
	color: #303240;
	font-weight: 800;
	color: lighten($background-color, 20%);
	text-align: center;
	display: block;
	padding-top: 1em;
	letter-spacing: .05em;
	text-transform: uppercase;
	height: 1.3em;
	z-index: 10;
	overflow: hidden;
}

