.button{
	width: auto;
    margin: 3 auto;
	color: white;
	font-size: .8em;
    text-align: center;
    padding: .5em 1.5em;
    border-radius: .3em;
    border: 1px solid $link-color;
    background-color: $background-color;
    &:hover{
    border: 1px solid #fff;
    background-color: lighten($background-color, 2%);
    color: #a0aed8;
    }
}

.download{
	margin: 3em auto;
	text-align: center;
}

.actions{
    //background-color: lighten($background-color, 5%);
    opacity: 0;
    font-size: .8em;
    line-height: 2.3em;
    display: block;
    text-align: center;
    position: relative;
    height: 2.5em;
    top: -5em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
}
.block img{
    transition: opacity 0.5s ease;
}

.block:hover .actions{
    transition: all .6s ease-in;
    opacity: 1;
}

.block:hover img {
    opacity: .1;
}

.block:hover .actions .thumb-icon {
    opacity: 1;
}


.thumb-icon{
    font-family: "Outline";
    z-index: 10;
    opacity: 0;
    padding:0 .5em; 
}

.delete{
    @extend .ico-trash;
    @extend .thumb-icon;
}

.link{
    @extend .ico-link;
    @extend .thumb-icon;
}

.direct{
    @extend .ico-download;
    @extend .thumb-icon;
}