/* Hyperlinks */

a { 
	color: $link-color;
	text-decoration: none;	
	border: none;
}

a:visited { 
	color: $link-color;
}

a:hover {
	color: $link-hover;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

a:focus { 
	//outline: thin dotted;
	outline: 0;
}

p a { /* Optimized for touch devices */
	margin: -.5em;
	padding: .5em;
	position: relative;
}